@font-face {
    font-family: "diroz";
    src: url("../fonts/dana-regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/dana-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    /*url("../fonts/Dirooz-FD.otf") format("opentype"), !* Open Type Font *!*/
    /*url("../fonts/Dirooz-FD.svg") format("svg"), !* Legacy iOS *!*/
    /*url("../fonts/Dirooz-FD.ttf") format("truetype"), !* Safari, Android, iOS *!*/
    url("../fonts/dana-regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/dana-regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
*{
    letter-spacing: 0!important;
    font-family: 'diroz' !important;
}
.fa{
    font: normal normal normal 14px/1 FontAwesome !important;
}
.far {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 400;
}